[submodule "QuantumSafePkg/Library/OqsLib/liboqs"]
	path = QuantumSafePkg/Library/OqsLib/liboqs
	url = https://github.com/jyao1/liboqs
[submodule "QuantumSafeLmsPkg/Library/LmsLib/hash-sigs"]
	path = QuantumSafeLmsPkg/Library/LmsLib/hash-sigs
	url = https://github.com/jyao1/hash-sigs
[submodule "QuantumSafeXmssRefPkg/Library/XmssLib/xmss-reference"]
	path = QuantumSafeXmssRefPkg/Library/XmssLib/xmss-reference
	url = https://github.com/jyao1/xmss-reference
[submodule "LightweightCryptoPkg/Library/LwcLib/lwc-finalists"]
	path = LightweightCryptoPkg/Library/LwcLib/lwc-finalists
	url = https://github.com/jyao1/lwc-finalists
